--------------------------------------------------------
--  File created - Sunday-January-17-2016   
--------------------------------------------------------
--------------------------------------------------------
--  DDL for Table ELIGIBLE
--------------------------------------------------------

  CREATE TABLE "PDT"."ELIGIBLE" 
   (	"CID_CARD_NO" NUMBER, 
	"TAX_ID" NUMBER, 
	"ACCOUNT_NUMBER" NUMBER, 
	"CARD_NUMBER" NUMBER, 
	"TITLE" VARCHAR2(200 BYTE), 
	"CUSTOMER_NAME" VARCHAR2(200 BYTE), 
	"ADDRESS0" VARCHAR2(200 BYTE), 
	"ADDRESS1" VARCHAR2(200 BYTE), 
	"ADDRESS2" VARCHAR2(200 BYTE), 
	"ADDRESS3" VARCHAR2(200 BYTE), 
	"ZIP_CODE" NUMBER, 
	"CAMPAIGN_CODE" VARCHAR2(200 BYTE), 
	"CAMPAIGN_NAME" VARCHAR2(200 BYTE), 
	"CAMPAIGN_START" VARCHAR2(200 BYTE), 
	"CAMPAIGN_END" VARCHAR2(200 BYTE), 
	"ITEM_CODE" VARCHAR2(200 BYTE), 
	"ITEM_NAME" VARCHAR2(200 BYTE), 
	"SMS_CODE" VARCHAR2(200 BYTE), 
	"SUB_INVENTORY" VARCHAR2(200 BYTE), 
	"DELIVERY_FLAG" VARCHAR2(1 BYTE), 
	"VIP_FLAG" VARCHAR2(1 BYTE), 
	"REMARKS" VARCHAR2(200 BYTE), 
	"ELIGIBLE_ID" NUMBER
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Table ELIGIBLE_LIST
--------------------------------------------------------

  CREATE TABLE "PDT"."ELIGIBLE_LIST" 
   (	"FILE_NAME" VARCHAR2(200 BYTE), 
	"UPLOAD_DATE" DATE, 
	"RECORD_AMOUNT" VARCHAR2(200 BYTE)
   ) SEGMENT CREATION IMMEDIATE 
  PCTFREE 10 PCTUSED 40 INITRANS 1 MAXTRANS 255 NOCOMPRESS LOGGING
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
REM INSERTING into PDT.ELIGIBLE
SET DEFINE OFF;
REM INSERTING into PDT.ELIGIBLE_LIST
SET DEFINE OFF;
--------------------------------------------------------
--  DDL for Index ELIGIBLE_LIST_PK
--------------------------------------------------------

  CREATE UNIQUE INDEX "PDT"."ELIGIBLE_LIST_PK" ON "PDT"."ELIGIBLE_LIST" ("FILE_NAME") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  DDL for Index ELIGIBLE_PK
--------------------------------------------------------

  CREATE UNIQUE INDEX "PDT"."ELIGIBLE_PK" ON "PDT"."ELIGIBLE" ("ELIGIBLE_ID") 
  PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS" ;
--------------------------------------------------------
--  Constraints for Table ELIGIBLE
--------------------------------------------------------

  ALTER TABLE "PDT"."ELIGIBLE" ADD CONSTRAINT "ELIGIBLE_PK" PRIMARY KEY ("ELIGIBLE_ID")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
  ALTER TABLE "PDT"."ELIGIBLE" MODIFY ("ELIGIBLE_ID" NOT NULL ENABLE);
--------------------------------------------------------
--  Constraints for Table ELIGIBLE_LIST
--------------------------------------------------------

  ALTER TABLE "PDT"."ELIGIBLE_LIST" ADD CONSTRAINT "ELIGIBLE_LIST_PK" PRIMARY KEY ("FILE_NAME")
  USING INDEX PCTFREE 10 INITRANS 2 MAXTRANS 255 COMPUTE STATISTICS 
  STORAGE(INITIAL 65536 NEXT 1048576 MINEXTENTS 1 MAXEXTENTS 2147483645
  PCTINCREASE 0 FREELISTS 1 FREELIST GROUPS 1 BUFFER_POOL DEFAULT FLASH_CACHE DEFAULT CELL_FLASH_CACHE DEFAULT)
  TABLESPACE "USERS"  ENABLE;
  ALTER TABLE "PDT"."ELIGIBLE_LIST" MODIFY ("FILE_NAME" NOT NULL ENABLE);
